<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Georgia</key>
	<dict>
		<key>Capital</key>
		<string>Atlanta</string>
		<key>Abbreviation</key>
		<string>GA</string>
		<key>StateDate</key>
		<date>1788-01-02T07:48:04Z</date>
	</dict>
	<key>Florida</key>
	<dict>
		<key>StateDate</key>
		<date>1845-03-03T07:48:04Z</date>
		<key>Abbreviation</key>
		<string>FL</string>
		<key>Capital</key>
		<string>Tallahasee</string>
	</dict>
	<key>Delaware</key>
	<dict>
		<key>Capital</key>
		<string>Dover</string>
		<key>Abbreviation</key>
		<string>DE</string>
		<key>StateDate</key>
		<date>1787-12-07T07:48:04Z</date>
	</dict>
	<key>Connecticut</key>
	<dict>
		<key>StateDate</key>
		<date>1788-01-09T07:48:04Z</date>
		<key>Abbreviation</key>
		<string>CT</string>
		<key>Capital</key>
		<string>Hartford</string>
	</dict>
	<key>Colorado</key>
	<dict>
		<key>Capital</key>
		<string>Denver</string>
		<key>Abbreviation</key>
		<string>CO</string>
		<key>StateDate</key>
		<date>1876-08-01T07:48:04Z</date>
	</dict>
	<key>California</key>
	<dict>
		<key>StateDate</key>
		<date>1850-09-09T07:48:04Z</date>
		<key>Abbreviation</key>
		<string>CA</string>
		<key>Capital</key>
		<string>Sacramento</string>
	</dict>
	<key>Arkansas</key>
	<dict>
		<key>Abbreviation</key>
		<string>AR</string>
		<key>Capital</key>
		<string>Little Rock</string>
		<key>StateDate</key>
		<date>1836-06-15T07:48:04Z</date>
	</dict>
	<key>Arizona</key>
	<dict>
		<key>StateDate</key>
		<date>1912-02-14T07:48:04Z</date>
		<key>Capital</key>
		<string>Phoenix</string>
		<key>Abbreviation</key>
		<string>AZ</string>
	</dict>
	<key>Alaska</key>
	<dict>
		<key>StateDate</key>
		<date>1959-01-03T08:00:00Z</date>
		<key>Capital</key>
		<string>Juneau</string>
		<key>Abbreviation</key>
		<string>AK</string>
	</dict>
	<key>Alabama</key>
	<dict>
		<key>Abbreviation</key>
		<string>AL</string>
		<key>Capital</key>
		<string>Montgomery</string>
		<key>StateDate</key>
		<date>1819-12-14T07:48:04Z</date>
	</dict>
</dict>
</plist>
