<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>State</key>
		<string>Georgia</string>
		<key>Capital</key>
		<string>Atlanta</string>
		<key>Abbreviation</key>
		<string>GA</string>
		<key>StateDate</key>
		<string>1788-01-02T07:48:04Z</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Florida</string>
		<key>StateDate</key>
		<string>1845-03-03T07:48:04Z</string>
		<key>Abbreviation</key>
		<string>FL</string>
		<key>Capital</key>
		<string>Tallahasee</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Delaware</string>
		<key>Capital</key>
		<string>Dover</string>
		<key>Abbreviation</key>
		<string>DE</string>
		<key>StateDate</key>
		<string>1787-12-07T07:48:04Z</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Connecticut</string>
		<key>StateDate</key>
		<string>1788-01-09T07:48:04Z</string>
		<key>Abbreviation</key>
		<string>CT</string>
		<key>Capital</key>
		<string>Hartford</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Colorado</string>
		<key>Capital</key>
		<string>Denver</string>
		<key>Abbreviation</key>
		<string>CO</string>
		<key>StateDate</key>
		<string>1876-08-01T07:48:04Z</string>
	</dict>
	<dict>
		<key>State</key>
		<string>California</string>
		<key>StateDate</key>
		<string>1850-09-09T07:48:04Z</string>
		<key>Abbreviation</key>
		<string>CA</string>
		<key>Capital</key>
		<string>Sacramento</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Arkansas</string>
		<key>Abbreviation</key>
		<string>AR</string>
		<key>Capital</key>
		<string>Little Rock</string>
		<key>StateDate</key>
		<string>1836-06-15T07:48:04Z</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Arizona</string>
		<key>StateDate</key>
		<string>1912-02-14T07:48:04Z</string>
		<key>Capital</key>
		<string>Phoenix</string>
		<key>Abbreviation</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Alaska</string>
		<key>StateDate</key>
		<string>1959-01-03T08:00:00Z</string>
		<key>Capital</key>
		<string>Juneau</string>
		<key>Abbreviation</key>
		<string>AK</string>
	</dict>
	<dict>
		<key>State</key>
		<string>Alabama</string>
		<key>Abbreviation</key>
		<string>AL</string>
		<key>Capital</key>
		<string>Montgomery</string>
		<key>StateDate</key>
		<string>1819-12-14T07:48:04Z</string>
	</dict>
</array>
</plist>
